@model School.ViewModels.StudentEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.Id" />
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Surname" class="control-label"></label>
                <input asp-for="Student.Surname" class="form-control" />
                <span asp-validation-for="Student.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.ClassId" class="control-label"></label>
                <select asp-for="Student.ClassId" class="form-control">
                    @if (Model.Student.ClassId != null)
                    {
                        <option value="@Model.Student.Class.Id" selected="selected">@Model.Student.Class.ClassName</option>
                    }
                    else
                    {
                        <option value="null" disabled="disabled" selected="selected">Choose student class name</option>
                    }
                    @foreach (var item in Model.Classes)
                    {
                        if (Model.Student.Class != null)
                        {
                            if (Model.Student.Class.Id != item.Id)
                            {
                                <option value="@item.Id">@item.ClassName</option>
                            }
                        }
                        else
                        {
                            <option value="@item.Id">@item.ClassName</option>
                        }

                    }
                    <option value="null">out of classes</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href="@Model.StudentEditBackUrl">Back</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
